{% extends "base.html" %}
{% from "tags/form.html" import tag_form %}

{% block title %}Yeni Tag Ekle{% endblock %}

{% block content %}
<div class="flex flex-col gap-6">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-bold">Yeni Tag Ekle</h1>
    <a href="{{ url_for('tag.index') }}" class="inline-flex items-center gap-2 px-2 py-1 rounded-md bg-primary/10 text-primary hover:bg-primary/20 transition">
      {% include 'icons/back.svg' %}
      Geri Dön
    </a>
  </div>

  <div class="bg-card rounded-xl shadow p-6">
    {{ tag_form(url_for('tag.add_tag')) }}
  </div>
</div>
{% endblock %} 