{% extends "base.html" %}
{% from 'partials/_form_card.html' import render_form_card %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <!-- Profile Form -->
            {{ render_form_card(
                form=profile_form,
                form_url=request.url,
                cancel_url=url_for('user.profile'),
                title='Profile Settings'
            ) }}

            <!-- Password Form -->
            <div class="mt-4">
                {{ render_form_card(
                    form=password_form,
                    form_url=request.url,
                    cancel_url=url_for('user.profile'),
                    title='Change Password'
                ) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}