{% macro render_brand(brand, loop, moment) %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ brand[0].name }}</td>
    <td class="text-end">{{ brand[1] }}</td>
    <td>{{ moment(brand[0].timestamp).fromNow() }}</td>
    <td class="text-end">
        <div class="btn-group">
            <a href="{{ url_for('brand.edit_brand', id=brand[0].id) }}" 
               class="btn btn-sm btn-outline-primary">
                <i class="fas fa-edit"></i>
            </a>
            <button type="button" class="btn btn-sm btn-outline-danger" 
                    onclick="confirmDelete('{{ brand[0].id }}', '{{ brand[0].name }}')">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </td>
</tr>
{% endmacro %}