{% extends "base.html" %}
{% from 'partials/_form_card.html' import render_form_card %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {{ render_form_card(
                form=form,
                form_url=request.url,
                cancel_url=url_for('brand.list_brand'),
                add_title='Add Brand',
                edit_title='Edit Brand',
                is_edit=request.endpoint == 'brand.edit_brand',
                submit_icon='fas fa-tags',
                cancel_text='Back to Brands'
            ) }}
        </div>
    </div>
</div>
{% endblock %}