{% extends "base.html" %}
{% from 'partials/_form_card.html' import render_form_card %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {{ render_form_card(
                title='Add Brand' if not form.data.get('id') else 'Edit Brand',
                form=form,
                form_url=request.url,
                cancel_url=url_for('brand.list_brand'),
                submit_text='Add Brand' if not form.data.get('id') else 'Update Brand'
            ) }}
        </div>
    </div>
</div>
{% endblock %}