html,
body {
    height: 100%;
    /* Ensure the body takes full height of the viewport */
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
    /* Footer stays at the bottom */
}

.nav-link.logout:hover {
    color: var(--bs-red);
}

/* Avatar border */
.img-fluid.rounded-circle {
    border: 2px solid #ddd;
}

/* DataTables */
/* Sağ ve soldan eksi marginler sıfırlandı. */
#data_wrapper>.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

/* Tablo kenar boşlukları sıfırlandı. */
#data_wrapper>.dt-layout-table {
    margin-left: -12px;
    margin-right: -12px;
}