{% extends "base.html" %}
{% from 'partials/_form_card.html' import render_form_card %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {{ render_form_card(
                form=form,
                form_url=request.url,
                cancel_url=url_for('transaction.list_transaction'),
                add_title='Add Transaction',
                edit_title='Edit Transaction',
                is_edit=request.endpoint == 'transaction.edit_transaction',
                submit_icon='fas fa-receipt',
                cancel_text='Back to Transactions'
            ) }}
        </div>
    </div>
</div>
{% endblock %}