{% extends "base.html" %}
{% from 'partials/_form_card.html' import render_form_card %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            {{ render_form_card(
                title='Add Transaction' if not form.data.get('id') else 'Edit Transaction',
                form=form,
                form_url=request.url,
                cancel_url=url_for('transaction.list_transaction'),
                submit_text='Add Transaction' if not form.data.get('id') else 'Update Transaction'
            ) }}
        </div>
    </div>
</div>
{% endblock %}